<ion-header>
	<ion-toolbar color="success">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/user/settings"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<strong>Выбрать категории</strong>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="light">
	<ion-list lines="full" class="mb-3 pb-0" *ngIf="isLoad && !isErrorLoad">
		<ion-item class="item-large">
			<ion-label><ion-skeleton-text animated style="width: 170px;"></ion-skeleton-text></ion-label>
		</ion-item>
	</ion-list>
	<ion-list lines="full" class="mb-5 pb-0" *ngIf="isLoad && !isErrorLoad">
		<ion-item *ngFor='let category of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]'>
			<ion-avatar slot="start">
				<ion-skeleton-text animated></ion-skeleton-text>
			</ion-avatar>
			<ion-label><ion-skeleton-text animated style="width: 170px"></ion-skeleton-text></ion-label>
		</ion-item>
	</ion-list>
	<div *ngIf="isErrorLoad && !isLoad" class="h-100">
		<ion-row class="ion-justify-content-center ion-align-items-center h-100">
			<ion-col size="12" class="ion-text-center ion-padding-horizontal">
				<ion-icon name="wifi" color="medium" class="icon-8x"></ion-icon>
				<div>
					<h4 class="mt-0 mb-0">Интернет недоступен</h4>
				</div>
				<div class="ion-text-center ion-padding-horizontal text-medium">
					<p>Для работы приложения необходим доступ к сети</p>
				</div>
				<ion-button (click)="updateLoad()" expand="block" size="large" class="mt-3 shadow-md">Обновить
				</ion-button>
			</ion-col>
		</ion-row>
	</div>
	<div *ngIf="!location && !isErrorLoad" class="h-100">
		<ion-row class="ion-justify-content-center ion-align-items-center h-100">
			<ion-col size="12" class="ion-text-center ion-padding-horizontal">
				<ion-icon name="pin" color="medium" class="icon-8x"></ion-icon>
				<div class="ion-text-center ion-padding-horizontal">
					<h4 class="mt-0 mb-0">Выберите населенный пункт</h4>
				</div>
				<div class="ion-text-center ion-padding-horizontal text-medium">
					<p>Выбирать категори можно относительно населенного пункта</p>
				</div>
				<ion-button [routerLink]="['/locations']" routerDirection="forward" expand="block" size="large" class="mt-3 shadow-md">Выбрать
				</ion-button>
			</ion-col>
		</ion-row>
	</div>
	<ion-list lines="full" class="mb-3 pb-0 pt-0" *ngIf="location && !isLoad && !isErrorLoad">
		<ion-item [routerLink]="['/locations']" routerDirection="forward" class="item-large">
			<ion-label position="floating" color="medium">Населенный пункт</ion-label>
			<ion-input type="text" [ngModel]="location.name" readonly></ion-input>
		</ion-item>
	</ion-list>
	<div *ngIf="location && !isLoad && !isErrorLoad" class="mb-5">
		<ion-list lines="full" class="pt-0 pb-0" *ngFor='let subscription of subscriptions'>
			<!-- <ion-item (click)="selectSubscription(subscription.category_id)"> -->
			<ion-item (click)="openCategory(subscription.category_id)">
				<ion-avatar slot="start">
					<img [src]="subscription.category_icon">
				</ion-avatar>
				<ion-label class="ion-text-wrap">{{ subscription.category_name }}</ion-label>
				<ion-icon name="checkmark" slot="end" color="primary" [ngStyle]="{ 'visibility': (subscription.subscription_id ? 'visible' : 'hidden') }"
						  id="select-parent-icon-{{ subscription.category_id }}"></ion-icon>
				<ion-ripple-effect></ion-ripple-effect>
			</ion-item>
			<div id="parent-category-{{ subscription.category_id }}" class="{{ subscription.is_visible_subcategories ? '' : 'hidden' }}">
				<ion-item *ngFor='let subcategory of subscription.subcategories' (click)="selectSubscription(subscription.category_id, subcategory.subcategory_id)">
					<ion-avatar slot="start">
						<img [src]="subcategory.subcategory_icon">
					</ion-avatar>
					<ion-label class="ion-text-wrap"><small>{{ subcategory.subcategory_name }}</small></ion-label>
					<ion-icon name="checkmark" slot="end" color="primary" [ngStyle]="{ 'visibility': (subcategory.subscription_id ? 'visible' : 'hidden') }"
							  id="select-subscription-icon-{{ subcategory.subcategory_id }}"></ion-icon>
					<ion-ripple-effect></ion-ripple-effect>
				</ion-item>
			</div>
		</ion-list>
	</div>
</ion-content>
