<ion-header>
	<ion-toolbar color="success">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/requests/all" [routerLink]="[routerLink]"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<strong>Заявка №{{ requestId }}</strong>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="light" class="request-detail">
	<div *ngIf="isLoad && !isErrorLoad" class="h-100">
		<ion-row class="ion-justify-content-center ion-align-items-center h-100">
			<ion-col size="12" class="ion-text-center ion-padding-horizontal">
				<ion-spinner name="crescent" color="primary" style="width: 48px; height: 48px;"></ion-spinner>
			</ion-col>
		</ion-row>
	</div>
	<div *ngIf="isErrorLoad && !isLoad" class="h-100">
		<ion-row class="ion-justify-content-center ion-align-items-center h-100">
			<ion-col size="12" class="ion-text-center ion-padding-horizontal">
				<ion-icon name="wifi" color="medium" class="icon-8x"></ion-icon>
				<div>
					<h4 class="mt-0 mb-0">Интернет недоступен</h4>
				</div>
				<div class="ion-text-center ion-padding-horizontal text-medium">
					<p>Для работы приложения необходим доступ к сети</p>
				</div>
				<ion-button (click)="updateLoad()" expand="block" size="large" class="mt-3 shadow-md">Обновить
				</ion-button>
			</ion-col>
		</ion-row>
	</div>
	<div *ngIf="!isLoad && !isErrorLoad">
		<ion-list lines="full" class="pt-0 pb-0">
			<ion-item lines="full" class="request-title">
				<ion-avatar slot="start">
					<img [src]="requestR.category_icon">
				</ion-avatar>
				<ion-label color="medium" class="ion-text-wrap">
					<small>{{ requestR.category }}</small>
					<h3>{{ requestR.title }}</h3>
					<p>{{ requestR.start_end }}</p>
				</ion-label>
			</ion-item>
			<ion-item lines="full" color="{{ statusColor }}" class="ion-text-uppercase">
				<ion-icon slot="end" name="{{ statusIcon }}"></ion-icon>
				<ion-label>{{ requestR.status_name }}</ion-label>
			</ion-item>
			<ion-item lines="full">
				<ion-label class="ion-text-wrap">
					<ion-row>
						<ion-col size="6" class="ion-text-left">
							Бюджет<br>
							<strong>{{ requestR.price }}</strong>
						</ion-col>
						<ion-col size="6" class="ion-text-right" color="medium">
							Создана<br>
							<strong>{{ requestR.created_at }}</strong>
						</ion-col>
					</ion-row>
				</ion-label>
			</ion-item>
			<ion-item *ngIf="requestR.whatsapp && requestR.whatsapp != ''" href="{{ requestR.whatsapp }}" lines="full"
					  color="success" class="ion-text-uppercase ion-text-center">
				<ion-icon slot="start" name="logo-whatsapp"></ion-icon>
				<ion-label><strong>Написать</strong></ion-label>
				<ion-icon slot="end" name="logo-whatsapp"></ion-icon>
			</ion-item>
			<ion-item *ngIf="requestR.contact && requestR.contact != ''" href="tel:{{ requestR.contact }}" lines="full"
					  color="primary" class="ion-text-uppercase ion-text-center">
				<ion-icon slot="start" name="call"></ion-icon>
				<ion-label><strong>Позвонить</strong></ion-label>
				<ion-icon slot="end" name="call"></ion-icon>
			</ion-item>
		</ion-list>
		<ion-list lines="full" class="mt-3 pb-0 pt-0">
			<ion-list-header>
				<ion-label>Детали</ion-label>
			</ion-list-header>
			<ion-item lines="full" *ngIf="requestR.description">
				<div class="pt-3 pb-3" [innerHTML]=requestR.description></div>
			</ion-item>
			<ion-item lines="full">
				<ion-label position="floating" color="medium">Населенный пункт</ion-label>
				<ion-input type="text" [ngModel]="requestR.location_name" readonly></ion-input>
			</ion-item>
			<ion-item lines="full">
				<ion-label position="floating" color="medium">Адрес</ion-label>
				<ion-input type="text" [ngModel]="requestR.address ? requestR.address : 'Не указан'"
						   readonly></ion-input>
			</ion-item>
		</ion-list>
		<ng-template [ngIf]="pageSections && pageSections.length > 0">
			<div *ngFor="let pageSection of pageSections" id='{{ pageSection.htmlContentId }}'></div>
		</ng-template>
		<ion-list lines="full" class="mt-3 pb-0 pt-0">
			<ion-list-header>
				<ion-label>Заказчик</ion-label>
			</ion-list-header>
			<!-- <ion-item [routerLink]="['/user/profile/' + requestR.user?.id]" routerDirection="forward" detail> -->
			<ion-item (click)="openRoute('/user/profile/' + requestR.user?.id)" detail>
				<ion-avatar slot="start" style="border: 2px solid #10dc60;">
					<img [src]="requestR.user?.avatar_image">
				</ion-avatar>
				<ion-label>
					<h3>{{ requestR.user?.first_last_middle_name }}</h3>
					<p>здесь с {{ requestR.user?.created_at }}</p>
				</ion-label>
			</ion-item>
		</ion-list>
		<ion-list lines="full" class="pb-0 pt-0" *ngIf="requestR.performer && requestR.performer.id">
			<ion-list-header>
				<ion-label>Исполнитель</ion-label>
			</ion-list-header>
			<ion-item [routerLink]="['/user/profile/' + requestR.performer.id]" routerDirection="forward" detail>
				<ion-avatar slot="start" style="border: 2px solid #10dc60;">
					<img [src]="requestR.performer.avatar_image">
				</ion-avatar>
				<ion-label>
					<h3>{{ requestR.performer.first_last_middle_name }}</h3>
					<p>здесь с {{ requestR.performer.created_at }}</p>
				</ion-label>
			</ion-item>
		</ion-list>
		<ion-list lines="full" class="mt-3 pb-0 pt-0 mb-3">
			<ion-list-header>
				<ion-label>Предложили свои услуги</ion-label>
			</ion-list-header>
			<ion-item *ngIf="!requestR.offers || requestR.offers.length == 0">
				<ion-label class="ion-text-center">Пока нет предложений</ion-label>
			</ion-item>
			<ion-item *ngFor='let offer of requestR.offers' (click)="openOffer(offer.id, offer.performer_id)"
					  [color]="requestR.offer_select ? 'success' : ''" detail>
				<ion-avatar slot="start" style="border: 2px solid #10dc60;">
					<img [src]="offer.avatar_image">
				</ion-avatar>
				<ion-label>
					<h3>{{ offer.first_last_middle_name }}</h3>
					<p>{{ offer.created_at }}</p>
				</ion-label>
			</ion-item>
		</ion-list>
	</div>
</ion-content>

<ion-footer *ngIf="!isLoad && !isErrorLoad && (requestR.status == 0 || requestR.status == 10 || (requestR.custom_message && requestR.custom_message != ''))">
	<ion-toolbar>
		<ng-template [ngIf]="requestR.custom_message && requestR.custom_message != ''">
			<section [innerHTML]=requestR.custom_message></section>
		</ng-template>
		<ng-template [ngIf]="requestR.is_owes">
			<section>
				<ion-button class="ion-margin-vertical ion-text-wrap shadow-md m-0" [routerLink]="['/user/settings']" expand="full"
							size="large" color="primary">
					Посмотреть баланс
				</ion-button>
			</section>
		</ng-template>
		<ng-template [ngIf]="!requestR.is_owes">
			<section>
				<ng-template [ngIf]="!currentUser">
					<p class="ion-text-center mt-1 mb-1 pr-3 pl-3"><small>Чтобы предложить свои услуги или управлять заявкой, Вам нужно войти.</small></p>
					<ion-button class="ion-margin-vertical ion-text-wrap shadow-md m-0" (click)="redirectLogin();" expand="full"
								size="large" color="success">
						Войти
					</ion-button>
				</ng-template>
				<ng-template [ngIf]="currentUser && requestR.status == 0 && !requestR.its_my && !requestR.is_add_offer">
					<ion-button class="ion-margin-vertical ion-text-wrap shadow-md m-0" (click)="addOffer();" expand="full"
								size="large"
								color="success">
						Предложить услуги
					</ion-button>
				</ng-template>
				<ng-template [ngIf]="currentUser && requestR.status == 0 && requestR.its_my">
					<ion-button class="ion-margin-vertical ion-text-wrap shadow-md m-0"
								[routerLink]="['/requests/cancel/' + requestR.id]"
								expand="full" size="large" color="danger">
						Отменить заявку
					</ion-button>
				</ng-template>
				<ng-template [ngIf]="currentUser && requestR.status == 0 && !requestR.its_my && requestR.is_add_offer">
					<ion-button class="ion-margin-vertical ion-text-wrap shadow-md m-0"
								[routerLink]="['/requests/offers/' + requestR.add_offer_id]" expand="full" size="large"
								color="danger">
						Отменить предложение
					</ion-button>
				</ng-template>
				<ng-template [ngIf]="currentUser && requestR.status == 10 && requestR.its_my && requestR.offer_select">
					<ion-button class="ion-margin-vertical ion-text-wrap shadow-md m-0"
								[routerLink]="['/requests/offers/' + requestR.offer_select.id]" expand="full"
								size="large"
								color="danger">
						Отказаться от предложения
					</ion-button>
					<ion-button class="ion-margin-vertical ion-text-wrap mt-3 shadow-md m-0" (click)="completRequestR();"
								expand="full"
								size="large" color="success">
						Выполнена
					</ion-button>
				</ng-template>
				<ng-template [ngIf]="currentUser && requestR.status == 10 && !requestR.its_my && requestR.is_add_offer">
					<ion-button class="ion-margin-vertical ion-text-wrap shadow-md m-0"
								[routerLink]="['/requests/offers/' + requestR.add_offer_id]" expand="full" size="large"
								color="danger">
						Отменить предложение
					</ion-button>
				</ng-template>
			</section>
		</ng-template>
	</ion-toolbar>
</ion-footer>
