<ion-header>
	<ion-toolbar color="success">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			<strong>{{ pageTitle }}</strong>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="light">
	<div *ngIf="isLoad">
		<ion-list lines="none">
			<ion-item>
				<ion-skeleton-text animated></ion-skeleton-text>
			</ion-item>
		</ion-list>
	</div>
	<div *ngIf="isErrorLoad" class="h-100">
		<ion-row class="ion-justify-content-center ion-align-items-center h-100">
			<ion-col size="12" class="ion-text-center ion-padding-horizontal">
				<ion-icon name="wifi" color="medium" class="icon-8x"></ion-icon>
				<div>
					<h4 class="mt-0 mb-0">Интернет недоступен</h4>
				</div>
				<div class="ion-text-center ion-padding-horizontal text-medium">
					<p>Для работы приложения необходим доступ к сети</p>
				</div>
				<ion-button (click)="updateLoad()" expand="block" size="large" class="mt-3 shadow-md">Обновить
				</ion-button>
			</ion-col>
		</ion-row>
	</div>
	<div id="htmlContentPageEmpty"></div>
</ion-content>
